<div class="page-top">
  <h3>個別相談予定</h3>
</div>
 
    <table class="show_table">
      <thead>
        <tr>
          <th>検査項目</th>
          <th>予約日時</th>
          <th>確定日時</th>
          <th>予約のキャンセル</th>
        </tr>
      </thead>
 
      <tbody>
        <% @reserves.each do |reserve| %>
          <tr>
            <td><%= reserve.exam.exam_item %></td>
            <td><%= reserve.reserve_time %></td>
            <td><%= reserve.created_at %></td>
            <td><%= link_to "キャンセル", reserve, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>