<div class="about-main">
  <h2>健康marché</h2>
  <p>私たちの食を取り巻く状況は多様化し、便利な世の中になりました。</p>
  <p>しかしその反面、つい食べすぎてしまったり、</p>
  <p>かたよった食事内容になったりと、食生活は乱れがちです。</p>
  <p>栄養は不足しても過剰になっても体に負担がかかり、</p>
  <p>かたよった食生活を続けると、生活習慣病にもつながります。</p>
  <p>健康な体を維持するために、</p>
  <p>「食べ物を賢く選択する力」を身につけましょう。</p>
  <p>でもどうしたらいいの？</p>
  <p>気軽に情報をえらえる場所、それが健康marchéです</p>
</div>

