<div class="about-main">
  <h2>Hikakatter</h2>
  <p>読み方：ひっかかったー</p>
  <p>検査をしたけれど何でひっかかったのかわからない</p>
  <p>そんなことはありませんか？</p>
  <p>そんな方のために</p>
  <p>検査項目が何を意味しているのか どうすれば改善するのか</p>
  <p>気軽に相談できる場所、それがHikakatterです</p>
</div>

