<div class="page-top">
  <h3>あなたの標準体重と、１日の適正エネルギー量をチェックしましょう！</h3>
</div>

<div class="kcal">
 <div class="kcal-item">
 <p class="kcal-item-a" >あなたの標準体重は<%= @standardweight.round %>kgです</p>
 <p class="kcal-item-b">標準体重は、もっとも病気にかかりにくい体重と言われています</p>
 <p class="kcal-item-a" >あなたのBMIは<%= @bmi.round %>です</p>
 <p class="kcal-item-b">BMIの値は、18.5～25までを正常とし、それ以下は「痩せ」、それ以上は「肥満」と判定します</p>
 <p class="kcal-item-b">25を超えると脂質異常症や糖尿病、高血圧などの生活習慣病のリスクが2倍以上になり、30を超えると高度な肥満としてより積極的な減量治療を要するものとされています。</p>
 <p class="kcal-item-a" >あなたの必要エネルギー量は<%= @requiredcalories.round %>Kcal/日です</p>
 <p class="kcal-item-b">このエネルギー量(カロリー)を基準に、食べる量を見直してみましょう！</p>
 <p class="kcal-item-b">これを基準に、たくさん食べてしまうと太る、少ないと痩せる、ということです</p>
 </div>
</div>